.button {
  width: 100%;
  background: var(--btn-bg-blue);
  border-radius: 8px;
  margin: 10px 0;
  padding: 12px 0;
  font-size: 13px;
  line-height: 13px;
  text-align: center;
  color: var(--white);
  border: none;
  outline: none;
  cursor: pointer;
}
