html,
body {
  height: 100vh;
  margin: 0;
}

:root {
  --btn-bg-blue: #3369f3;
  --white: white;
  --main-grey: #efefef;
  --text-grey: #999;
  --main-black: #1e1e1e;
  --black: black;
  --red: red;
  --light-grey: #f8f8f8;
  --sidebar-grey: #fbfbfb;
  --divider: 1px solid #eaeaea;
  --light-blue: #e4edfd;
}

dialog {
  width: 340px;
  height: 257px;
  background-color: var(--white);
  left: 64px;
  border: none;
  border-radius: 12px;
  box-shadow: 0 0 12px 3px;
}
