---
title:
  chats
stylesheets:
  - https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap
  - ../css/chats.css

---
{{!< base}}
<aside>
  {{> sidebarHeader }}
  {{> chatList }}
</aside>
<main>
  <header>
    {{> avatar size="mini" }}
    <p>Вадим</p>
  </header>
  {{> messages }}
  <form method="post">
    <input type="file"/>
    <input type="text"/>
    <input type="submit" />
  </form>
  {{!-- <p>Выберите чат, чтобы отправить сообщение</p> --}}
</main>