---
title:
  chats
stylesheets:
  - ../css/chats.css
  - ../css/main.css
---
{{!< base}}
<aside>
  {{> sidebarHeader }}
  {{> chatList }}
</aside>
<main>
  <header>
    {{> avatar size="mini" }}
    <p>Вадим</p>
  </header>
  {{> messages }}
  <footer>
    <form method="post">
      <label class="attach">
        <img src="../images/attachIcon.png" />
        <input type="file" name="attach"/>
      </label>
      <input type="text" placeholder="Сообщение" name="message" class="message"/>
      <input class="circle blue" type="submit" value="➜"/>
    </form>
  </footer>

  {{!-- <p>Выберите чат, чтобы отправить сообщение</p> --}}
</main>