---
pages:
  Авторизация: login
  Регистрация: sigin
  Чаты: chats
  Настройки: profile
---
{{!< base}}
<main>
  <h1>Welcome to Chokak</h1>
  <ul>
    {{#each pages}}
    <li><a href="./{{ this }}.hbs">{{ @key }}</a></li>
    {{/each}}
  </ul>
</main>