{{!< base}}
<main>
  <h1>Welcome to Chokak</h1>
  <ul>
    <li> <a href="./login.hbs">Авторизация</a></li>
    <li><a href="./sigin.hbs">Регистрация</a></li>
    <li><a href="./chats.hbs">Список чатов и лента переписки</a></li>
  </ul>
  
</main>