---
title:
    Welcom
stylesheets:
  - ../css/main.css
  - ../css/index.css
pages:
  Авторизация: login
  Регистрация: sigin
  Чаты: chats
  Настройки: profile
  Страница 404: 404
  Страница 500: 500
---
{{!< base }}
    <header>
        <nav>
            <ul>
                <li class="r-divider"><a class="button text primary" href="#">Chokak</a></li>
                {{#each pages}}
                    <li class="r-divider"><a class="button text primary" href="./{{this}}.hbs">{{@key}}</a></li>
                {{/each}}
            </ul>
        </nav>
    </header>
    <main>
        <h1>Welcome to Chokak</h1>
    </main>
    <footer>
        <h3>Chokak connecting peoples</h3>
    </footer>