---
title: Chokak
stylesheets:
  - ../css/textField.css
  - ../css/formWrapper.css
  - ../css/submitButton.css
  - ../css/link.css
  - ../css/main.css
---
{{!< form}}
<main>
  <div class="form__wrapper">
    <form>
      <h1>Вход</h1>
      {{> textField plaseholder="Логин" name="login" type="text" required=true }}
      {{> textField plaseholder="Пароль" name="password" type="password" required=true }}
    </form>
    <div>
      {{> submitButton to="./chats.hbs" label="Авторизоваться" }}
      {{> link to="./sigin.hbs" label="Нет аккаунта?"}}
    </div>
  </div>
</main>