---
title:
  profile
stylesheets:
  - https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap
  - ../css/main.css
  - ../css/profile.css
  - ../css/submitButton.css
fields:
  email:
    type: email
    placeholder: pochta@yandex.ru
    label: почта
  login:
    type: text
    placeholder: admin
    label: логин
  first_name:
    type: text
    placeholder: Иван
    label: имя
  second_name:
    type: text
    placeholder: Иванов
    label: фамилия
  display_name:
    type: text
    placeholder: Игорь Николаев
    label: имя в чате
  phone:
    type: phone
    placeholder: +7 (800) 100 50 00
    label: имя в чате
passwordChangeFields:
  oldPassword:
    type: password
    label: Старый пароль
  newPassword:
    type: password
    label: Новый пароль
  newPasswordCheck:
    type: password
    label: Повторите новый пароль
---
{{!< base}}
<aside class="flex-column-center r-divider">
    <a href="chats.hbs" class="button circle blue large left ">➜</div>
</aside>
<main class="flex-column-center">
  <header>
    {{>settingsAvatar}}
  </header>
  <form>
    {{>settingsFieldList
      fields=fields
      hidden=false
      id="profileForm"
    }}
    {{>settingsFieldList
      fields=passwordChangeFields
      hidden=true
      id="passwordForm"
    }}
    {{>settingsFormSubmit
      text="Сохранить"
      name="save"
      hidden=true
      error=false
    }}
  </form>
  <footer>
    {{>settingsActions}}
  </footer>
</main>
<dialog>
  <form method="dialog" >
    <header>
      <h1>Загрузите фаил</h1>
    </header>
    <label for="avatarInput">
      <button class="text primary">Выбрать файл на компьютере</button>
      <input type="file" name="avatar" id="avatarInput" hidden>
    </label>
    {{>settingsFormSubmit
      text="Поменять"
      name="saveAvatar"
      error=false
    }}
  </form>
</dialog>
<script src="../js/profile.js" type="module"></script>