---
title:
  profile
stylesheets:
  - https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap
  - ../css/main.css
  - ../css/profile.css
---
{{!< base}}
<aside>
    <button class="circle blue large left">➜</div>
</aside>
<main>
</main>