---
title: Chokak
stylesheets:
  - ../css/textField.css
  - ../css/formWrapper.css
  - ../css/submitButton.css
  - ../css/link.css
  - ../css/main.css
fields:
  email:
    type: email
    plaseholder: Почта
  login:
    type: text
    plaseholder: Логин
  first_name:
    type: text
    plaseholder: Имя
    required: false
  second_name:
    type: text
    plaseholder: Фамилия
  phone:
    type: tel
    plaseholder: Телефон
  password:
    type: password
    plaseholder: Пароль
  password-again:
    type: password
    plaseholder: Пароль (ещё раз)
---
{{!< form}}
<main>
  <div class="form__wrapper">
    <form>
      <h1>Регистрация</h1>
      <ul>
        {{#each fields}}
        <li class="text__field">
          <input type={{ this.type }} name={{ @key }} required />
          <label>{{this.plaseholder}}</label>
        </li>
        {{/each}}
      </ul>
    </form>
    <div>
      {{> submitButton to="./chats.hbs" label="Зарегистрироваться" }}
    </div>
  </div>
</main>