<ul>
  <li class="r-divider"><a
      class="button text primary"
      href="/"
    >{{logo}}</a></li>
  {{#each pages}}
    <li class="r-divider">
      <a class="button text primary" href="./{{this}}">
        {{@key}}
      </a>
    </li>
  {{/each}}
</ul>