<html>
  {{#block "head"}}
    <head>
      <meta charset="utf-8" />
      {{#block "title"}}
        <title>{{title}}</title>
      {{/block}}
      {{#block "styles"}}
        {{#each stylesheets}}
          <link href="{{this}}" rel="stylesheet" />
        {{/each}}
      {{/block}}
    </head>
  {{/block}}

  <body>
    {{{body}}}
  </body>

</html>