@import url(https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap);
html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  --main-grey: #efefef;
  --text-grey: #999999;
  --main-black: #1e1e1e;
  --blue: #3369f3;
  --red: #ff0000;
  --white: #ffffff;
  --sidebar-grey: #fbfbfb;
  --divider: 1px solid #eaeaea;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.flex-sb {
  display: flex;
  justify-content: space-between;
}

.circle {
  border-radius: 50%;
  text-align: center;
}

.blue {
  background-color: var(--blue);
  color: var(--white);
  border: none;
}

.circle.large {
  font-size: large;
  width: 28px;
  height: 28px;
  line-height: 28px;
}

.circle.xx-large {
  font-size: xx-large;
  height: 130px;
  width: 130px;
  line-height: 130px;
}

.left {
  transform: scaleX(-1);
}

a.button {
  text-decoration: none;
}

/* .t-divider {
  border-top: var(--divider);
} */
.r-divider:not(:last-child) {
  border-right: var(--divider);
}
.b-divider:not(:last-child) {
  border-bottom: var(--divider);
}
/* .l-divider {
  border-left: var(--divider);
} */
ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin-block: 0;
}

.none-border {
  border: none;
}

button,
.button {
  cursor: pointer;
}

button.text,
.button.text {
  background: none;
  border: none;
  padding: 0;
}

button.text.primary,
.button.text.primary {
  color: var(--blue);
}

button.text.error,
.button.text.error {
  color: var(--red);
}

button.contained,
.button.contained {
  height: 37px;
  line-height: 37px;
  border: none;
  border-radius: 8px;
  font-size: 13px;
  text-align: center;
}

button.contained.primary,
.button.contained.primary {
  background-color: var(--blue);
  color: var(--white);
}

input[type="file"] {
  display: none;
}
