body {
  display: flex;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

aside {
  width: 64px;
  background-color: var(--sidebar-grey);
}

main > form,
main > footer {
  width: 510px;
}

.avatar_wrapper {
  background-color: var(--main-grey);
  position: relative;
}

.avatar_wrapper > img {
  width: 38%;
  height: 38%;
  margin: 31%;
}

.avatar_wrapper:hover {
  background-color: var(--black);
  opacity: 0.5;
}
.avatar_wrapper:hover > img {
  filter: invert(1);
}
.avatar_wrapper > p {
  position: absolute;
  top: 26%;
  left: 26%;
  width: 64px;
  font-size: 13px;
  line-height: 14px;
  color: var(--white);
  opacity: 0;
}
.avatar_wrapper:hover > p {
  opacity: 1;
}

input[type="submit"] {
  width: 55%;
}

form > ul {
  margin-top: 97px;
  margin-bottom: 59px;
}

li {
  height: 33px;
  line-height: 33px;
}

input {
  text-align: right;
}

label {
  font-size: 13px;
  color: var(--main-black);
}

label::first-letter,
button::first-letter {
  text-transform: uppercase;
}

dialog {
  width: 340px;
  height: 257px;
  background-color: var(--white);
  left: 64px;
  border: none;
  border-radius: 12px;
  box-shadow: 0 0 6px #00000024;
}

dialog > form {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
  flex-direction: column;
}

dialog::backdrop {
  opacity: 0.4;
  background-color: var(--black);
}
