form .text__field {
  position: relative;
  border-bottom: 2px solid #3369f3;
  margin: 30px 0;
}

.text__field input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

.text__field label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  pointer-events: none;
  transition: 0.5s;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  color: var(--text-grey);
}

.text__field input:focus ~ label,
.text__field input:valid ~ label {
  top: -5px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 9px;
  line-height: 9px;
  color: #999999;
}
