li.message__item {
  margin: 10px 0;
  padding: 10px;
  min-width: 114px;
  max-width: 402px;
  font-size: 12px;
  line-height: 15px;
  border-radius: 12px;
  color: var(--main-black);
}

li.message__item.image__wrapper > .time_label {
  background-color: var(--light-grey);
}

li.message__item.incoming {
  align-self: flex-start;
}

li.message__item.outgoing {
  align-self: flex-end;
  color: var(--main-black);
}

li.message__item.text__wrapper.outgoing {
  background-color: #e4edfd;
}

li.message__item.text__wrapper.incoming {
  background-color: var(--light-grey);
}

li.message__item.image__wrapper {
  border: var(--divider);
}

li.message__item.image__wrapper > img {
  max-height: 211px;
}

li.message__item > .time_label {
  font-size: 9px;
  line-height: 9px;
  height: 9px;
  padding: 2px 7px;
  border-radius: 6px;
  color: var(--text-grey);
  margin-right: 0;
  margin-left: auto;
  margin-top: -13px;
  width: fit-content;
}

.text__wrapper.outgoing .time_label {
  color: var(--blue);
  line-height: 2;
}

.time_label > span.status {
  letter-spacing: -4px;
  margin-right: 8px;
}
